Flask==3.1.0
werkzeug==3.1.3
email-validator==2.20
Flask-Session==0.8.0
SQLAlchemy==2.0.36
flask_sqlalchemy==3.1.1
flask-migrate==4.0.7
flask-cors==5.0.0
pandas==2.2.3
matplotlib==3.9.3
Agg==0.3.1
flask_mail==0.10.0