{% extends "layout.html" %}

{% block title %}
    create a routine
{% endblock %}

{% block main %}
<form action="/createRoutine" method="post">
    <h2>Create a Routine</h2>
    <div id="create-routine-container">
        <input type="text" id="routine-name" name="routine-name" placeholder="routine name" class="long-input">
        <!-- dynamic fields for exercises and sets -->
        <div id="add-exercise-container">
        <!-- initial exercise and set fields will be displayed here -->
        </div>
        <button type="button" id="add-exercise">add exercise</button>
    </div>
    <button type="submit" name="action" value="save">save routine</button>
</form>

<script>
    // attach the event listener for "add exercise" after it's added to the dom
    document.getElementById("add-exercise").addEventListener("click", function() {
        addExerciseSetsFieldsEvent();
    });
</script>

{% endblock %}