{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <input name="email" placeholder="Email" type="text" class="long-input">
        <input name="email-confirmation" placeholder="Confirm Email" type="text" class="long-input">
        <input name="password" placeholder="Password" type="text" class="long-input">
        <input name="password-confirmation" placeholder="Confirm Password" type="text" class="long-input">
        <button type="submit">Register</button>
    </form>
{% endblock %}

